<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>

<!--<div class="bg-image " style="-->
<!--              background-image: url('/images/TacoCloudBackground.jpg');-->
<!--              background-attachment: fixed;-->
<!--              background-position: center center;-->
<!--              -webkit-background-size: cover;-->
<!--              -moz-background-size: cover;-->
<!--              background-size: cover;-->
<!--              -o-background-size: cover;-->
<!--              height: 100vh;-->
<!--            ">-->
<!--</div>-->
<body>

<h1>Welcome to...</h1>
        <img th:src="@{/images/TacoCloud.png}"/>

<br/>
<a th:href="@{/design}" id="firstTaco">Design your taco</a>
<br/>

</body>

</html>


